.App {
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
ul,
ol,
li,
p,
form,
fieldset,
button,
input {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
img {
    vertical-align: top;
}
i,
em,
address {
    font-style: normal;
}

/* header */
.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    padding: 0 200px;
    background-color: #fff;
}
.search-box {
    position: relative;
}
.search-box input {
    box-sizing: border-box;
    border: none;
    width: 300px;
    height: 38px;
    border-radius: 6px;
    background-color: #eee;
    box-sizing: border-box;
    padding-left: 40px;
}
.search-box::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('../public/search.svg');
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.header ul {
    display: flex;
}
.header ul li {
    margin-left: 16px;
}
.btn_select {
    border: none;
    background-color: transparent;
}

main {
    box-sizing: border-box;
    margin-top: 60px;
    padding: 20px 250px;
}
/* profile  */
.profile {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #eee;
}
.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 230px;
}
.profile-img > div {
    width: 150px;
    height: 150px;
    background-color: rgb(156, 74, 255);
    border-radius: 50%;
    background-image: url(../public/profile.png);
    background-position: center center;
    background-size: 40%;
}

/* profile - des */
.profile-des > div:first-child {
    width: 100%;
    display: flex;
    align-items: center;
}
.profile-title {
    font-size: 30px;
    margin-right: 20px;
}
.profile-edit {
    width: 100px;
    height: 32px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #eee;
    background-color: transparent;
    border-radius: 6px;
    margin-right: 10px;
}
.btn-setting {
    border: none;
    background-color: transparent;
}
.profile-des > ul {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0;
    padding: 0;
}
.profile-des > ul > li {
    margin-right: 50px;
}
.profile-des > ul > li span {
    font-weight: 800;
}
.profile-des > ul > li > a {
    text-decoration: none;
    color: #444;
}
.profile-des > div:last-child > span {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
}

/* modal popup */
.setting-modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
}
.setting-modal > ul {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 16px;
    z-index: 1;
    padding: 0;
    overflow: hidden;
}
.setting-modal > ul > li {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(215, 215, 215);
    text-align: center;
}
.setting-modal > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #444;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
}
.setting-modal > ul > li > a:hover {
    background-color: rgba(217, 217, 217, 0.3);
}
/* Board */
.tab-container {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px 300px;
    gap: 1rem 1rem;
}
.photo {
    width: 100%;
    height: 100%;
}
.tab {
    justify-content: center;
}
.nav-item a {
    color: #444;
    font-size: 14px;
}
